<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Login</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/common.css" rel="stylesheet"/>

</head>
<body id="loginApp">

<div class="container" ng-controller="BaseFormCtrl">
    <my-error-messages></my-error-messages>

    <form name="form" ng-submit="onLogin()" ng-controller="LoginCtrl" class="form-signin">
        <h2 class="form-signin-heading">Log In</h2>

        <div class="form-group">
            <input type="text"
                   ng-focus="focus('username')"
                   ng-blur="blur('username')"
                   ng-model="vm.username"
                   name="username"
                   class="form-control"
                   placeholder="Username"
                   required=""
                   ng-minlength="6"/>
            <div class="error-messages"
                 ng-show="isMessagesVisible('username')"
                 ng-messages="form.username.$error">
                <div ng-message="required">The username is mandatory</div>
                <div ng-message="minlength">must have minimum 6 characters</div>
            </div>
        </div>

        <div class="form-group">
            <input type="password"
                   ng-focus="focus('password')"
                   ng-blur="blur('password')"
                   ng-model="vm.password"
                   name="password"
                   class="form-control"
                   placeholder="Password"
                   ng-minlength="6"
                   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"/>
            <div class="error-messages" ng-show="isMessagesVisible('password')"
                 ng-messages="form.password.$error">
                <div ng-message="required">The password is mandatory</div>
                <div ng-message="minlength">must have minimum 6 characters</div>
                <div ng-message="pattern">At least one number and uppercase</div>
            </div>
        </div>

        <button class="btn btn-lg btn-primary btn-block"
                type="submit">Log In</button>
        <a class="new-user-link" href="/registration.html">New user?</a>
    </form>

</div>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" data-main="js/run-loggin-app"
        src="bower_components/requirejs/require.js"></script>
</body>
</html>