<div>
    login
</div>
<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">-->
<!--&lt;!&ndash;<head lang="en" >&ndash;&gt;-->
    <!--&lt;!&ndash;<title>Spring Framework Guru</title>&ndash;&gt;-->
    <!--&lt;!&ndash;<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>&ndash;&gt;-->
<!--&lt;!&ndash;</head>&ndash;&gt;-->
<!--<head lang="en">-->
    <!--<title>Log in with your account</title>-->
    <!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1"/>-->

    <!--&lt;!&ndash; Bootstrap core CSS &ndash;&gt;-->
    <!--<link href="css/bootstrap.min.css" rel="stylesheet" />-->
    <!--<link href="css/common.css" rel="stylesheet" />-->

<!--</head>-->

<!--<body class="security-app">-->

<!--&lt;!&ndash;<form th:action="@{/login}" method="post">&ndash;&gt;-->

    <!--&lt;!&ndash;<div class="lc-block">&ndash;&gt;-->
        <!--&lt;!&ndash;<div>&ndash;&gt;-->
            <!--&lt;!&ndash;<input type="text" class="style-4" name="username"&ndash;&gt;-->
                   <!--&lt;!&ndash;placeholder="User Name" />&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div>&ndash;&gt;-->
            <!--&lt;!&ndash;<input type="password" class="style-4" name="password"&ndash;&gt;-->
                   <!--&lt;!&ndash;placeholder="Password" />&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div>&ndash;&gt;-->
            <!--&lt;!&ndash;<input type="submit" value="Sign In" class="button red small" />&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<th:if test="${param.error ne null}">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="alert-danger">Invalid username and password.</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</th:if>&ndash;&gt;-->
        <!--&lt;!&ndash;<th:if test="${param.logout ne null}">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="alert-normal">You have been logged out.</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</th:if>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="hidden" name="${_csrf.parameterName}"&ndash;&gt;-->
           <!--&lt;!&ndash;value="${_csrf.token}" />&ndash;&gt;-->
<!--&lt;!&ndash;</form>&ndash;&gt;-->
<!--&lt;!&ndash;</body>&ndash;&gt;-->
<!--&lt;!&ndash;<body>&ndash;&gt;-->

<!--<div class="container">-->
    <!--<form method="POST" th:action="@{/login}" class="form-signin">-->
        <!--<h2 class="form-heading">Log in</h2>-->

        <!--<div class="form-group ${error != null ? 'has-error' : ''}">-->
            <!--<span>${message}</span>-->
            <!--<input name="username" type="text" class="form-control" placeholder="Username"-->
                   <!--autofocus="true"/>-->
            <!--<input name="password" type="password" class="form-control" placeholder="Password"/>-->
            <!--<span>${error}</span>-->
            <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->

            <!--<button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>-->
            <!--<h4 class="text-center"><a th:href="@{/registration}">Create an account</a></h4>-->
        <!--</div>-->
    <!--</form>-->
<!--</div>-->
<!--&lt;!&ndash; /container &ndash;&gt;-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>-->
<!--<script src="js/bootstrap.min.js"></script>-->
<!--</body>-->
<!--</html>-->